{% extends 'music/base.html' %} {% block body %}
<title>{% block title %}Album Details | MiTunes Music{% endblock %}</title>
<div class="container-fluid songs-container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" style="margin-top: 0;">
                    <a href="{% url 'music:detail' album.id %}">
                        <img src="{{ album.album_logo }}" class="img-responsive">
                    </a>

                    <h1 id="google">{{ album.album_title }}
                        <small id="google">{{ album.genre }}</small>
                    </h1>
                    <h2 id="google">{{ album.artist }}</h2>
                    <small style="font-size: 15px;" id="google">Released in {{ album.release_year }}</small>
                    <div class="slider-vertical"></div>
                    <div id="purhcaseForm">
                        <form id="purchase">
                            <br id="google"> Item Price: ${{ album.album_total }}
                            <input type='button' name='subtract' class="btn btn-danger" onclick='Total("qty",-1,"total",{{ album.album_total }});' value='-' />
                            <input type='button' name='add' class="btn btn-success" onclick='Total("qty",1,"total", {{ album.album_total }});' value='+' />
                            <h2 id="google">Quantity</h2><input class="roboto" type='text' name='qty' id='qty' readonly=true value="0" />
                            <h2 id="google">Total Price w/ sales tax:</h2><input class="roboto" type='text' name='total' id='total' value="0" />
                        </form>
                    </div>
                    <br>
                    <center><button type="submit" class="btn btn-primary">Rent This Album</button></center>

                </div>
            </div>
            <script>
                function Total(qty, ud, total, value) {
                    qty = document.getElementById(qty);
                    ud > 0 ? qty.value++ : qty.value--;
                    qty.value = Math.max(qty.value, 0);
                    document.getElementById(total).value = qty.value * value;
                }
            </script>
            </head>

            <body>
        </div>


        {% for song in album.song_set.all %} {{ song.song_title }} {% if song.is_favorite %}
        <img src="http://icons.iconarchive.com/icons/aha-soft/multimedia/16/favourites-star-SH-icon.png"> {% endif %}
        <br> {% endfor %} {% endblock %}