 {% extends 'music/base.html' %} {% block body %} {% if all_albums %} {% if album_total % }
<div class="jumbotron">
    <center>
        <h1 class="google_font">Welcome To MiTunes Music Rentals 2.0</h1>
        <p class="google_font">Don't Hesitate, Just Appreciate!</p>
        <p class="google_font">Take Your Time And BROWSE!!</p>
        <p class="google_font">More Responsive, More Understandable, More Music!</p>
        <p><a class="btn btn-primary btn-lg" href="#albums" role="button">What's At The Bottom?</a></p>
    </center>
</div>

<div class="container-fluid songs-container">
    <div class="row" id="albums">
        {% for album in all_albums %}
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail' album.id %}">
                        <img src="{{ album.album_logo }}" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h2>{{ album.album_title }}</h2>
                        <h4>{{ album.artist }}</h4>
                        <a href="{% url 'music:detail' album.id %}" class="btn btn-primary">Album Details</a>
                        <button class="btn btn-default"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
                        <button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <button class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h3>You don't have any albums</h3>
{% endif %} {% endblock %}