body {
	text-indent: center;
}

h1 {
  color: #F6261F;
  font-family: Georgia;
  font-size: 175%;
  text-align: center;
  margin: 0 auto 0 auto;
}

#pane {
    position:relative;
    width:500px; height:500px;
    border:2px solid #030729;
		background-color: #297c3d;
    border-radius: 16px;
}

#box {
    position:absolute;
    width:20px; height:20px;
    background-color:#74ff06;
    z-index: 1;
    border-radius: 16px;
}

#car1 {
	position:absolute;
	width:80px; height:60px;
	background-color:red;
	z-index: 1;
  border-radius: 16px;
}

#car2 {
  position:absolute;
  width:80px; height:60px;
  background-color:blue;
  z-index: 1;
  border-radius: 16px;
}

#street {
	margin: 30px 0px 10px 0;
  position:absolute;
  width:500px; height:135px;
  background-color: black;
}

#water {
  position:absolute;
  width: 500px; height: 150px;
  background-color: #1B92FF;
}

#sidewalk {
  position:absolute;
  width: 500px; height:20px;
  background-color:#595959;
}

#bike {
  position:absolute;
  width: 15px; height: 15px;
  background-color: yellow;
  z-index: 1;
  border-radius: 16px;
}

#boat {
  position:absolute;
  width:80px; height:60px;
  background-color: white;
  z-index: 1;
  border-radius: 16px;
}

h2 {
  display: inline-block;
  color: #F6261F;
}

#none1, #none2, #none3, #none4, #none5 {
  text-align: center;
  width: 50px;
  height: 50px;

}


